ul li {

list-style: none;
}

th {

font-weight: 800;
}

#aws-resources{
 font-weight: 700;

  color: #F1931C;

}

#azure-resources{

font-weight: 700;
color: #007804;

}

.cost-saved{



font-weight: 400; 

color: white;
background-color: black;
}

table 
{

width: 100%;
}
.mat-form-field { 
font-size: 14px;

width: 100%;
}
.resources{

font-weight: 400; 
color: white;
background-color: black;
}

.warning{

text-align: center; 
text-decoration-color: orangered;
// background-color: orangered;

}

.mat-panel-title{
align-content: center;
}



